@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kadwa:wght@400;700&display=swap');

/* Reseta as margens e os preenchimentos de todos os elementos da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho (header), que usa Flexbox para distribuir seus itens */
.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
    width: 100%;
    height: 10vh;  /* Usando altura relativa à altura da tela */
    flex-shrink: 0;
    align-items: center;
}

/* Estilos para a área à esquerda do cabeçalho (onde está o logo) */
.cabecalho_esquerda img {
    width: 11.2vw;  /* Largura em relação à largura da tela */
    height: auto;
    margin-left: 2vw;  /* Margem ajustada para responsividade */
}

/* Estilos para a área à direita do cabeçalho (onde estão o link e o ícone) */
.cabecalho_direita {
    display: flex;
    align-items: center;
    margin-right: 3vw;  /* Margem ajustada para responsividade */
    font-size: 0.70em;  /* Tamanho de fonte ajustado */

}

body {
    background-color: #D9D9D9;
}

.sessao {
    margin-right: 3vw;
}

.sessao a {
    text-decoration: none;
    color: #626262;
    font-family: Inter, sans-serif;
    font-size: 1.5em;  /* Usando tamanho relativo */
}

.aoLado {
    width: 18vw;  /* Largura ajustada para 20% da tela */
    height: 50.80vw;  /* Altura ajustada para ocupar toda a altura da tela */
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil img {
    margin-left: 2.20vw;
    margin-top: 5vh;
    max-width: 100%;  /* Garante que a imagem não ultrapasse a largura da tela */
}

.perfil h2 {
    margin-left: 2.20vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.doutor p {
    margin-left: 3vw;
    margin-bottom: 2vh;
}

.aoLado hr {
    width: 70%;  /* Usando largura relativa */
    height: 1px;
    background: #9B9B9B;
    margin-left: 1vw;
    margin-bottom: 2vh;
}

/* Estilo para os links dentro de .planoAlimentar e outros links semelhantes */
.planoAlimentar a, .consultas a, .mensagens a, .entregas a, .solicitacoes a, .interacoes a {
    display: flex;
    text-decoration: none;
    color: #626262;
    font-family: Inter, sans-serif;
    font-size: 1.5em;  /* Tamanho de fonte ajustado */
    font-weight: 300;
    line-height: normal;
    margin-left: 1vw;  /* Margens ajustadas */
    margin-top: 1em;
    padding: 10px 20px;  /* Adicionando algum preenchimento ao redor do link */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}

/* Estilo de hover aplicado aos links dentro de .planoAlimentar */
.planoAlimentar a{
    background-color: #D9D9D9;  /* Cor de fundo ao passar o mouse */
    color: #333333;  /* Cor do texto ao passar o mouse */
    border-radius: 52px;  /* Borda arredondada para o efeito de hover */
}

.consultas:hover a, .interacoes:hover a, .mensagens:hover a, .entregas:hover a, .solicitacoes:hover a {
    background-color: #D9D9D9;  /* Cor de fundo ao passar o mouse */
    color: #333333;  /* Cor do texto ao passar o mouse */
    border-radius: 52px;  /* Borda arredondada para o efeito de hover */
}

.plano{
    
    display: flex;
    display: block;
    position: absolute;
    width: 74%;
    height: 40vw;
    left: 23.5%;
    top: 23%;

    background: #EAEAEA;
    border-radius: 45px;

}

.leito1, .leito2, .leito3, .leito4{
    
    width: 95%;
    height: 8.8%;
    display: flex;
    border-radius: 35px;
    background: #D9D9D9;
    margin-top: 1.5em;
    margin-left: 1vw;

}

.leito1 img, .leito2 img, .leito3 img, .leito4 img{
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    border-radius: 20%;
    background: #D9D9D9;
    margin-top: 0.5em;
    margin-left: 0.8vw;

}

.leito1 p, .leito2 p, .leito3 p, .leito4 p{
    
    display: flex;
    border-radius: 35px;
    background: #D9D9D9;
    margin-top: 1.4em;
    margin-left: 0.8vw;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}