@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kadwa:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
    width: 100%;
    height: 10vh;
    flex-shrink: 0;
    align-items: center;
}

.cabecalho_esquerda img {
    width: 11.2vw;
    height: auto;
    margin-left: 2vw;
}

.cabecalho_direita {
    display: flex;
    align-items: center;
    margin-right: 3vw;
    font-size: 0.70em;
}

body {
    background-color: #D9D9D9;
}

.sessao {
    margin-right: 3vw;
}

.sessao a {
    text-decoration: none;
    color: #626262;
    font-family: Inter, sans-serif;
    font-size: 1.5em;
}

.aoLado {
    width: 13.5vw;
    height: 50.80vw;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil img {
    margin-left: 0.5vw;
    margin-top: 5vh;
    max-width: 100%;
}

.perfil h2 {
    margin-left: 1.1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #000000;
    font-family: Inter, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
}

.doutor p {
    margin-left: 1.18vw;
    margin-bottom: 2vh;
    color: #000000;
    font-family: Inter, sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.aoLado hr {
    width: 86%;
    height: 0.25%;
    background: #9B9B9B;
    margin-left: 0.1vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.planoAlimentar a, .consultas a, .mensagens a, .entregas a, .solicitacoes a, .interacoes a {
    display: inline-block;
    text-decoration: none;
    color: #626262;
    font-family: Inter, sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: normal;
    margin-top: 1em;
    padding: 0.625em 1.5em;
    text-align: center;
    border-radius: 52px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.planoAlimentar a {
    background-color: #D9D9D9;
    color: #333333;
    border-radius: 52px;
}

.plano {
    display: flex;
    display: block;
    position: absolute;
    width: 74%;
    height: 40vw;
    left: 23.5%;
    top: 23%;
    background: #EAEAEA;
    border-radius: 45px;
}

.leito1, .leito2, .leito3, .leito4 {
    width: 95%;
    height: 10%;
    display: flex;
    border-radius: 35px;
    background: #D9D9D9;
    margin-top: 1.5em;
    margin-left: 1vw;
}

.leito1 img, .leito2 img, .leito3 img, .leito4 img {
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    border-radius: 20%;
    background: #D9D9D9;
    margin-top: -0.6vw;
}

.leito1 a, .leito2 a, .leito3 a, .leito4 a {
    display: flex;
    border-radius: 35px;
    background: #D9D9D9;
    margin-top: 1.4vw;
    margin-left: 1vw;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.leito1 p, .leito2 p, .leito3 p, .leito4 p{
    margin-left: 1vw;
    margin-bottom: 0.1vw
}


.notification-container {
    position: relative;
    display: inline-block;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
}

.notification-list {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 200px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
}

.notification-list ul {
    list-style-type: none;
    padding: 0;
   
